################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Demo/obj
/Demo/bin/Debug/netcoreapp2.1
/.vs
/Demo.sln
/Demo/.vs
/Demo/Demo.sln
